/* app/globals.css */
@import "tailwindcss";

/* Defina a paleta Premiumbravo via @theme (Tailwind 4) */
@theme {
  --color-premiumbravo: #004F5A;
  --color-premiumbravo-light: #04606E;
  --color-premiumbravo-dark: #003E47;
}

/* (opcional) utilitários globais */
:root { color-scheme: light; }

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
